[tool.poetry]
name = "{{project_name}}"
version = "0.1.0"
description = "My API description"
authors = ["Your Name <you@example.com>"]
license = "MIT"

[tool.poetry.dependencies]
kegstand = {path = "../kegstand", develop = true}
python = "^3.9"

[tool.poetry.group.dev.dependencies]
moto = "^4.1.5"
kegstandcli = {path = "../kegstandcli", develop = true}
pytest = "^7.2.2"

[tool.pytest.ini_options]
pythonpath = "src"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
